<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 注意：namespace中的值必须是对应接口的全路径，SQL语句中的id值必须是这个接口中对应方法名称 -->
<mapper namespace="com.yc.fresh.mapper.IOrderMapper">
	<select id="findCart" resultType="GoodsInfo" >
		select g.gno,gname,pics,unit,weight,price,cno,num from goodsinfo g,cartinfo c where g.gno=c.gno
		<foreach collection="array" open=" and c.cno in(" separator="," item="item" close=")">
			#{item}
		</foreach>
	</select>
	
	<delete id="deleteCart">
		delete from cartinfo
		<foreach collection="array" open=" where cno in(" separator="," close=")" item="item">
			#{item}
		</foreach>
	</delete>
	
	<update id="updateGoodsNum">
		update goodsinfo set balance=case gno 
		<foreach collection="list" separator=" " item="item">
			when #{item.gno} then balance-#{item.num}
		</foreach>
		END 
		<foreach collection="list" separator="," item="item" open="where gno in(" close=")">
 			#{item.gno}
 		</foreach>
	</update>
	
	<insert id="addOrderInfo" parameterType="map">
		insert into orderinfo values(#{ono},#{odate},#{ano},'','',0,#{totalPrice},0)
	</insert>
	
	<insert id="addOrderItem" >
		insert into orderItemInfo values
		<foreach collection="list" separator=", " item="item">
			(0,#{item.ono},#{item.gno},#{item.num},#{item.price},0)
		</foreach>
	</insert>
</mapper>